target/
logs/
.mvn/
.mvnw/
!.mvn/wrapper/**
!**/src/main/**/target/
!**/src/test/**/target/
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/notification-service/src/main/resources/application-local.yml
/discovery-service/mvnw.cmd
/config-server/mvnw.cmd
/api-gateway/mvnw.cmd
/discovery-service/mvnw
/config-server/mvnw
/api-gateway/mvnw
