services:
  postgres:
    image: postgres:15-alpine
    container_name: user-service-db
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d userdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - app-network
    restart: unless-stopped
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
    - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_HEAP_OPTS: "-Xms512M -Xmx1G"
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network
    restart: unless-stopped

  discovery-service:
    build: ./discovery-service
    container_name: discovery-service
    ports:
      - "8761:8761"
    networks:
      - app-network
    restart: on-failure

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8889:8889"
    environment:
      SPRING_PROFILES_ACTIVE: native
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8889/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      CONFIG_SERVER_URL: http://config-server:8889
    depends_on:
      config-server:
        condition: service_healthy
      discovery-service:
        condition: service_started
    networks:
        - app-network
    restart: on-failure

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8888:8888"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      CONFIG_SERVER_URL: http://config-server:8889
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_started
      config-server:
        condition: service_healthy
      discovery-service:
        condition: service_started
    networks:
      - app-network
    restart: on-failure

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8890:8890"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      CONFIG_SERVER_URL: http://config-server:8889
      SPRING_MAIL_USERNAME: ${SPRING_MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${SPRING_MAIL_PASSWORD}
      NOTIFICATION_FROM_EMAIL: ${NOTIFICATION_FROM_EMAIL}
    depends_on:
      kafka:
        condition: service_started
      discovery-service:
        condition: service_started
      config-server:
        condition: service_healthy
    networks:
      - app-network
    restart: on-failure

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
