server:
  port: 8889

spring:
  application:
    name: config-service
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:/app/config-repo

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always