server:
  port: 8889

spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Vetkovskiy/config-repo
          clone-on-start: true
          default-label: main